html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

canvas {
  display: block;
}

.hide-scrollbar {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hide-scrollbar::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}
